.poll {
  font-weight: 600;
  cursor: pointer;
}
.article,
.poll {
  position: relative;
}
.article-wrapper {
  border-radius: var(--br-21xl);
  background-color: var(--color-darkviolet-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  align-items: center;
  justify-content: center;
  color: var(--color-whitesmoke-100);
}
.component-7,
.group-child {
  position: absolute;
  border: 1px solid var(--color-darkviolet-100);
  box-sizing: border-box;
}
.component-7 {
  top: 227px;
  left: calc(50% - 94px);
  border-radius: var(--br-13xl);
  background-color: var(--color-whitesmoke-100);
  width: 188px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  font-size: var(--font-size-5xl);
}
.group-child {
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  width: 720px;
  height: 64px;
}
.name-of-the {
  position: absolute;
  top: 20px;
  left: calc(50% - 344px);
}
.rectangle-parent {
  top: 0;
  left: 0;
}
.continue-wrapper,
.rectangle-group,
.rectangle-parent {
  position: absolute;
  width: 720px;
  height: 64px;
}
.rectangle-group {
  top: 96px;
  left: 0;
}
.continue-wrapper {
  top: 192px;
  left: calc(50% - 360px);
  background-color: var(--color-darkviolet-200);
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-45xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-9xl);
  color: var(--color-whitesmoke-200);
}
.group-parent {
  position: absolute;
  top: 304px;
  left: 360px;
  width: 720px;
  height: 256px;
  text-align: center;
}
.help-icon {
  position: absolute;
  top: 8px;
  left: 0;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.you-can-request {
  position: absolute;
  top: 0;
  left: 48px;
  font-weight: 500;
  display: inline-block;
  width: 672px;
}
.help-parent {
  position: relative;
  width: 720px;
  height: 48px;
}
.footer-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-hotpink);
}
.discord {
  position: relative;
  font-weight: 500;
}
.discord-parent {
  position: absolute;
  height: 69.23%;
  top: 15.38%;
  right: 827px;
  bottom: 15.38%;
  width: 167px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.group-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xl) 0 0 var(--br-5xl);
  background-color: var(--color-whitesmoke-100);
  width: 480px;
  height: 64px;
}
.enter-email-id {
  position: absolute;
  top: 18px;
  left: 48px;
  font-weight: 500;
}
.rectangle-container {
  position: relative;
  width: 480px;
  height: 64px;
}
.frame-div,
.subscribe-wrapper {
  display: flex;
  flex-direction: row;
}
.subscribe-wrapper {
  border-radius: 0 var(--br-5xl) var(--br-5xl) 0;
  background-color: var(--color-darkviolet-100);
  width: 219px;
  height: 64px;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: var(--color-whitesmoke-100);
}
.frame-div {
  position: absolute;
  bottom: 0;
  left: 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper {
  position: relative;
  width: 699px;
  height: 64px;
}
.group-wrapper,
.subscribe-to-our-newsletter-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.group-wrapper {
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray-200);
}
.subscribe-to-our-newsletter-parent {
  position: absolute;
  height: 50%;
  top: 25%;
  bottom: 25%;
  left: 661px;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.anime,
.zone {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.1em;
}
.zone {
  top: 84.48%;
  left: 86.79%;
  font-size: var(--font-size-21xl);
  letter-spacing: -0.16em;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.anime-parent {
  position: absolute;
  height: 55.77%;
  top: 11.06%;
  right: 1042px;
  bottom: 33.17%;
  width: 318px;
  cursor: pointer;
  font-size: var(--font-size-93xl);
  font-family: var(--font-ocr-a-extended);
}
.all-rights-reserved {
  margin: 0;
}
.copyright-2023-container {
  position: absolute;
  top: 65.87%;
  left: 84px;
  font-weight: 500;
}
.footer {
  position: relative;
  width: 1440px;
  height: 208px;
}
.discord1,
.group-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-container {
  position: absolute;
  bottom: 0;
  left: 0;
  flex-direction: column;
  gap: 32px;
}
.discord1 {
  flex-direction: row;
}
.request {
  position: relative;
  text-decoration: underline;
  cursor: pointer;
}
.discord3 {
  color: var(--color-darkviolet-100);
}
.discord3,
.discord4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.bookmark {
  position: relative;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}
.discord-group {
  position: absolute;
  height: 32%;
  top: 34%;
  bottom: 34%;
  left: calc(50% - 434.5px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-61xl);
}
.group-div {
  position: absolute;
  height: 43.86%;
  width: 100%;
  top: 56.14%;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 4px 4px 8px rgba(51, 51, 51, 0.25);
}
.zone1 {
  position: absolute;
  top: 84.48%;
  left: 86.79%;
  font-size: var(--header-txt-size);
  letter-spacing: -0.16em;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.anime-group {
  position: relative;
  width: 159px;
  height: 58px;
  font-family: var(--font-ocr-a-extended);
}
.group-child1 {
  position: absolute;
  top: 0;
  left: calc(50% - 298.5px);
  border-radius: var(--br-17xl);
  background-color: var(--color-hotpink);
  width: 597px;
  height: 64px;
}
.rectangle-wrapper {
  position: relative;
  width: 597px;
  height: 64px;
  z-index: 0;
}
.search-icon {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.group-parent1,
.search-parent {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-parent {
  margin: 0 !important;
  top: 16px;
  left: 24px;
  flex-direction: row;
  gap: var(--gap-base);
  z-index: 1;
}
.group-parent1 {
  top: 0;
  left: 0;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.frame-container {
  position: relative;
  width: 597px;
  height: 64px;
  font-size: var(--header-txt-size);
}
.login {
  position: relative;
  display: inline-block;
  width: 84px;
  flex-shrink: 0;
}
.cta,
.instance-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cta {
  background-color: var(--color-darkviolet-100);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.45);
  width: 152px;
  height: 72px;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-whitesmoke-100);
}
.instance-parent {
  position: absolute;
  top: 0;
  left: calc(50% - 501px);
  width: 1001px;
  justify-content: space-between;
  font-size: var(--font-size-37xl);
}
.header {
  position: absolute;
  top: 24px;
  left: calc(50% - 720px);
  width: 1440px;
  height: 171px;
}
.desktop-request-article {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  height: 1005px;
  overflow: hidden;
  text-align: left;
  font-size: var(--header-txt-size);
  color: var(--color-darkslategray-100);
  font-family: var(--header-txt);
}
